<div class="container-fluid">
  <h1>Login</h1>
  <form #userForm="ngForm">
    <hr />
    <div class="form-group">
      <label>User Name</label>
      <input type="text" required #username="ngModel" [class.is-invalid]="username.invalid && username.touched" class="form-control"
        name="user name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" required #pwd="ngModel" [class.is-invalid]="pwd.invalid && pwd.touched"
        class="form-control" name="password" [(ngModel)]="password">
      <div>
        <small class="text-danger">{{errorMessage}}</small>
      </div>
    </div>
    <div> <button class="btn btn-dark" type="button" (click)="login()">Login Here</button></div>
    <small>Dont have an acount? Click <a (click)="Register()" style="cursor:pointer">here.</a></small>
  </form>
</div>